.footer {
    height: 680px;
    background-color: gray;
}

.footer_allInfoBlock {
    height: 492px;
    width: 1600px;
    background-color: rgb(92, 92, 92);
}

.map__footer {
    height: 148px;
    background-color: rgb(75, 75, 75);
}

.copyright__footer {
    height: 30px;
    padding-top: 15px;
    background-color: white;
}

.link_copyright {
    text-decoration: none;
    text-align: center;
    color: gray;
    font-size: 14px;
    border-bottom: 1px solid gray;
}

.copyright_1 {
    text-align: center;
    color: gray;
    font-size: 14px;
    margin-left: 215px;
}

.copyright_2 {
    margin-left: 165px;
}

.copyright_3 {
    margin-left: 230px;
    text-align: center;
    color: gray;
    font-size: 14px;
}

.infoBlock__footer {
    width: 185px;
    height: 492px;
}

.centerFooter_allInfoBlock {
    height: 492px;
    width: 1170px;
    margin-left: 215px;
    margin-right: 215px;
    background-color: rgb(114, 104, 104);
}

.navBlock__footer {
    height: 12px;
    width: 858px;
}

.gridBlock__footer {
    display: grid;
    width: 740px;
    height: 360px;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(4, 1fr);
}