.footer {
  height: 680px;
  background-color: gray;
}
.footer_allInfoBlock {
  height: 492px;
  width: 1600px;
  background-color: #5c5c5c;
}
.map__footer {
  height: 148px;
  background-color: #4b4b4b;
}
.copyright__footer {
  height: 30px;
  padding-top: 15px;
  background-color: white;
}
.link_copyright {
  text-decoration: none;
  text-align: center;
  color: gray;
  font-size: 14px;
  border-bottom: 1px solid gray;
}
.copyright_1 {
  text-align: center;
  color: gray;
  font-size: 14px;
  margin-left: 215px;
}
.copyright_2 {
  margin-left: 165px;
}
.copyright_3 {
  margin-left: 230px;
  text-align: center;
  color: gray;
  font-size: 14px;
}
