.fixedSideMenu_block {
  height: 50px;
  width: 113px;
  background-color: #284aa8;
  margin-top: 1px;
  transition: all 1.5s ease;
  color: white;
  font-size: 13px;
}
.fixedSideMenu_block:hover {
  transform: translateX(-70px);
}
.left_contain__fixedSideMenu {
  margin-top: 15px;
  margin-left: 10px;
}
.right_contain__fixedSideMenu {
  margin-top: 10px;
  margin-left: 20px;
  text-align: center;
}
.right_contain__fixedSideMenu_last {
  margin-top: 15px;
  margin-left: 20px;
  text-align: center;
}
.fixedSideMenu {
  position: fixed;
  margin-left: 1710px;
  margin-top: 170px;
}
.main {
  height: 5800px;
  width: 1600px;
  background-color: black;
}
.furCoat_block {
  height: 1060px;
  width: 1600px;
  background-color: #f1f1f1;
}
.nav__main {
  margin-left: 215px;
  height: 55px;
  width: 1170px;
  background-color: white;
}
.furCoat_block__1 {
  width: 235px;
  text-align: center;
  height: 35px;
  padding-top: 20px;
  font-size: 11px;
  color: gray;
}
.furCoat_block__2 {
  width: 150px;
  text-align: center;
  height: 35px;
  padding-top: 20px;
  color: black;
  font-weight: bold;
}
.furCoat_block__3 {
  width: 120px;
  text-align: center;
  height: 35px;
  padding-top: 20px;
  color: black;
  font-weight: bold;
}
.furCoat_block__4 {
  width: 80px;
  text-align: center;
  height: 35px;
  padding-top: 20px;
  color: black;
  font-weight: bold;
}
.furCoat_block__5 {
  height: 35px;
  padding-top: 10px;
  width: 205px;
  margin-left: 10px;
  margin-right: 5px;
  font-size: 11px;
  text-align: center;
  color: black;
  background-color: gray;
  margin: 5px;
}
.furCoat_block__6 {
  width: 155px;
  text-align: center;
  height: 35px;
  padding-top: 10px;
  font-size: 11px;
  color: white;
  background-color: red;
  margin: 5px;
}
.furCoat_block__7 {
  height: 35px;
  padding-top: 20px;
  min-width: 130px;
  margin-left: 50px;
}
.gridblock__furCoat {
  height: 940px;
  width: 1170px;
  margin-left: 215px;
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 30px;
  grid-row-gap: 30px;
}
.gridblock_furCoat_1 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
  background-color: gray;
}
.gridblock_furCoat_2 {
  background-color: gray;
}
.gridblock_furCoat_3 {
  background-color: gray;
}
.gridblock_furCoat_4 {
  background-color: #1072c2;
}
.gridblock_furCoat_5 {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 4;
  background-color: gray;
}
.gridblock__pluses_edita {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  margin-left: 215px;
  width: 1170px;
  height: 295px;
}
.pluses_edita {
  background-color: white;
  height: 295px;
}
.header_plusesEdita_1,
.header_plusesEdita_2,
.header_plusesEdita_3,
.header_plusesEdita_4,
.header_plusesEdita_5 {
  text-align: center;
  font-weight: bold;
  font-size: 12px;
}
.header_plusesEdita_1 {
  margin-top: 5px;
  margin-bottom: 10px;
}
.header_plusesEdita_2 {
  margin-top: 30px;
  margin-bottom: 10px;
}
.header_plusesEdita_3 {
  margin-top: 15px;
  margin-bottom: 22px;
}
.header_plusesEdita_4 {
  margin-top: 25px;
  margin-bottom: 25px;
}
.header_plusesEdita_5 {
  margin-top: 15px;
  margin-bottom: 30px;
}
.pic_plusesEdita {
  text-align: center;
  margin-top: 55px;
  margin-bottom: 10px;
}
.textblock_plusesEdita {
  text-align: center;
  font-size: 15px;
}
.about_factory {
  height: 650px;
  background-color: white;
}
.background__about_factory {
  height: 340px;
  z-index: 2;
}
.header__aboutFactory {
  width: 222px;
  color: white;
  font-weight: bold;
  font-size: 30px;
  text-align: center;
  margin-left: 690px;
  margin-top: -270px;
  position: relative;
}
.mainblock__about_factory {
  margin-left: 215px;
  padding: 34px;
  margin-top: -195px;
  width: 1170px;
  height: 435px;
  background-color: white;
  z-index: 3;
  position: absolute;
}
.picblock_mainblock__about_factory {
  height: 355px;
  width: 535px;
}
.textblock_mainblock__about_factory {
  height: 355px;
  width: 535px;
  margin-right: 20px;
}
.textblock1_mainblock__about_factory {
  margin-bottom: 75px;
  margin-top: 45px;
  font-size: 18px;
  font-weight: bold;
}
.textblock2_mainblock__about_factory {
  font-size: 16px;
}
.wrapButton__about_factory {
  margin-top: 40px;
  height: 30px;
  width: 275px;
  outline: 1px solid black;
  padding-top: 20px;
  text-align: center;
  font-size: 12px;
  font-weight: bold;
}
.button__about_factory {
  text-decoration: none;
  color: black;
}
.featured_product {
  height: 910px;
  background-color: white;
}
.client_service {
  height: 345px;
  background-color: white;
}
.leftblock__client_service {
  height: 345px;
  width: 800px;
}
.rightblock__client_service {
  background-color: gray;
  height: 345px;
  width: 800px;
}
.discounted_goods {
  height: 950px;
  background-color: white;
}
.novelties {
  height: 950px;
  background-color: white;
}
.wrap_leftblock_clientService_pic {
  position: absolute;
}
.textblock_leftblock_clientService {
  position: relative;
  text-align: center;
  padding-top: 70px;
  color: white;
}
.textblock_rightblock_clientService {
  position: absolute;
  text-align: center;
  margin-top: -290px;
  margin-left: 170px;
}
.header_textblock_leftblock_clientService {
  font-size: 14px;
}
.header_textblock_rightblock_clientService {
  margin-top: 30px;
  font-size: 24px;
}
.header2_textblock_leftblock_clientService {
  margin-top: 35px;
  margin-bottom: 35px;
  font-size: 24px;
}
.text_textblock_rightblock_clientService {
  margin-top: 25px;
}
.guarantee {
  margin-bottom: 6px;
}
.text_textblock_leftblock_clientService {
  margin-bottom: 40px;
  font-size: 16px;
}
.button_textblock_leftblock_clientService > a {
  display: block;
  width: 195px;
  height: 32px;
  padding-top: 18px;
  text-decoration: none;
  text-align: center;
  color: white;
  outline: 1px solid white;
  margin-left: 300px;
  font-size: 14px;
}
.useful_articles {
  height: 645px;
  background-color: #c0bbbb;
}
.header__useful_articles {
  text-align: center;
  padding-top: 80px;
  font-size: 30px;
}
.centerBlock__useful_articles {
  height: 345px;
  width: 1170px;
  padding-top: 50px;
  padding-left: 215px;
  padding-bottom: 65px;
  padding-right: 215px;
}
.left__useful_articles,
.right__useful_articles,
.background_img__usefularticlesLeft {
  height: 345px;
  width: 570px;
  text-align: center;
}
.background_img__usefularticlesRight,
.background_img__usefularticlesLeft {
  position: absolute;
}
.textblock__useful_articles_right,
.textblock__useful_articles_left,
.button__useful_articles,
.button__useful_articles_2 {
  position: relative;
}
.backgroundWhite__usefulArticles {
  background-color: rgba(255, 255, 255, 0.75);
  height: 272px;
  width: 497px;
  margin-top: 37px;
  margin-left: 37px;
  position: relative;
}
.button__useful_articles > a {
  color: white;
  display: block;
  text-decoration: none;
  margin-top: 32px;
  width: 170px;
  padding-top: 15px;
  height: 35px;
  margin-left: 200px;
  outline: 1px solid white;
}
.button__useful_articles_2 > a {
  color: black;
  display: block;
  text-decoration: none;
  margin-top: 32px;
  width: 170px;
  padding-top: 15px;
  height: 35px;
  margin-left: 163px;
  outline: 1px solid black;
}
.textblock__useful_articles_right {
  padding-top: 78px;
  font-size: 24px;
}
.textblock__useful_articles_left {
  padding-top: 115px;
  font-size: 24px;
}
.textblock__useful_articles_left {
  color: white;
}
.readMore__useful_articles {
  text-align: center;
}
.readMore__useful_articles > a {
  text-decoration: none;
  font-size: 14px;
  border-bottom: 1px solid gray;
  color: black;
}
.header__discounted_goods {
  padding-top: 88px;
  height: 22px;
  width: 350px;
  font-size: 30px;
  font-weight: bold;
  color: black;
  text-align: center;
  margin-left: 23px;
}
.header__novelties {
  padding-top: 88px;
  height: 22px;
  width: 156px;
  font-size: 30px;
  font-weight: bold;
  color: black;
  text-align: center;
  margin-left: 23px;
}
.header__featured_product {
  height: 22px;
  width: 408px;
  font-size: 30px;
  font-weight: bold;
  color: black;
  text-align: center;
  margin-left: 23px;
}
.leftYellowWall {
  margin-top: 95px;
  margin-left: 592px;
}
.rightYellowWall {
  margin-left: 27px;
  margin-top: 95px;
}
.rightYellowWall__featured_product {
  margin-left: 27px;
  margin-top: 7px;
}
.leftYellowWall__featured_product {
  margin-left: 592px;
  margin-top: 7px;
}
.leftYellowWall_novelties {
  margin-left: 700px;
  margin-top: 95px;
}
