.client_service_2ndpage {
    overflow: hidden;
}

.furcoatsToOrder {
    background-image: url(../img/stock-photo-workflow-and-making-the-animals-fur-patterns-694796227.png);
    height: 305px;
}

.furcoatsToOrder_block {
    top: 0;
    padding-top: 55px;
    width: 1170px;
    height: 250px;
}

.furcoatsToOrder_head {
    width: 143px;
    height: 13px;
    margin-top: 25px;
    color: white;
    font-size: 12px;
}

.glavnaya_furcoatsToOrder_head {
    border-bottom: 1px solid white;
}

.link_furcoatsToOrder_head {
    text-decoration: none;
    color: white;
    font-size: 12px;
}

.link_furcoatsToOrder_head:hover {
    color: red;
}

.furcoatsToOrder_button > a {
    padding-top: 15px;
    color: black;
    font-size: 36px;
    text-decoration: none;
    height: 55px;
    width: 368px;
    background-color: white;
    margin-top: 70px;
    margin-left: 400px;
    display: block;
    text-align: center;
    transition: 2s;
}

.furcoatsToOrder_button > a:hover {
    color: red;
    background-color: black;
}

.takingMeasurements {
    height: 785px;
    background-color: white;
}

.header_takingMeasurements {
    padding-top: 70px;
}

.head_takingMeasurements {
    font-size: 24px;
    color: black;
    text-align: center;
}

.texthead_takingMeasurements {
    font-size: 18px;
    color: black;
    text-align: center;
    padding-top: 30px;
}

.gridblock__takingMeasurements {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 235px 380px;
    height: 615px;
    width: 1170px;
    margin: 0 auto;
}

.body_1,
.body_2,
.body_3,
.body_4 {
    margin-top: 40px;
    position: relative;
}

.line1 {
    position: absolute;
    margin-top: -155px;
    margin-left: 45px;
}

.line2 {
    position: absolute;
    margin-top: -108px;
    margin-left: 45px;
}

.line3 {
    position: absolute;
    margin-top: -115px;
    margin-left: 11px;
}

.line4 {
    position: absolute;
    margin-top: -155px;
    margin-left: 50px;
}

.body_5,
.body_6,
.body_7,
.body_8 {
    margin-top: 40px;
    position: relative;
}

.line5 {
    position: absolute;
    margin-top: -100px;
    margin-left: 25px;
}

.line6 {
    position: absolute;
    margin-top: -20px;
    margin-left: 7px;
}

.line7_1 {
    position: absolute;
    margin-top: -155px;
    margin-left: 48px;
}

.line7_2 {
    position: absolute;
    margin-top: -75px;
    margin-left: 19px;
}

.line8_1 {
    position: absolute;
    margin-top: -313px;
    margin-left: 45px;
}

.line8_2 {
    position: absolute;
    margin-top: -308px;
    margin-left: 103px;
}

.imgblock_gridblock__takingMeasurements {
    max-width: 110px;
    margin: 0;
}

.sewingData {
    margin-top: 50px;
    margin-left: 32px;
}

.input {
    width: 80px;
    height: 51px;
    margin-top: -15px;
    margin-right: 7px;
}

.textblock_formblock__takingMeasurements {
    margin-top: 20px;
    font-size: 16px;
}

.sewingData_8 {
    margin-top: -325px;
    margin-left: 120px;
}

.sewingData_8_2 {
    margin-top: -225px;
    margin-left: 120px;
}

.form_2ndpage {
    height: 605px;
    background-color: white;
    padding-top: 30px;
}

.formdiv_2ndpage {
    margin: 0 auto;
    margin-bottom: 90px;
    height: 515px;
    width: 870px;
    background-image: url(../img/bgForm.png);
}

.acceptbutton > a {
    text-decoration: none;
    border-bottom: 2px solid white;
    color: white;
}

.acceptbutton > a:hover {
    color: red;
    border-bottom: 2px solid black;
}

.acceptbutton {
    color: white;
    text-align: center;
    margin-bottom: 15px;
}

.orderbutton > a {
    background-color: red;
    display: block;
    text-decoration: none;
    text-align: center;
    width: 370px;
    height: 33px;
    padding-top: 17px;
    color: white;
    margin: 0 auto;
}

.orderbutton > a:hover {
    background-color: rgb(200, 255, 0);
    color: red;
    font-weight: bold;
}

.leftSideFormDiv_2ndpage_text {
    color: white;
    font-size: 11px;
}

.leftSideFormDiv_2ndpage_1 {
    margin-top: 75px;
    margin-bottom: 40px;
    margin-left: 100px;
}

.leftSideFormDiv_2ndpage_2 {
    margin-bottom: 25px;
    margin-left: 100px;
}

.leftSideFormDiv_2ndpage_3 {
    margin-bottom: 70px;
    margin-left: 100px;
}

.leftSideFormDiv_2ndpage_4 {
    margin-bottom: 50px;
    margin-left: 100px;
}

.rightSideFormDiv {
    flex-direction: column;
}

.input1_rightsideFormDiv {
    height: 50px;
    width: 370px;
    background: rgba(0, 0, 0, 0);
    border: 1px solid white;
    color: white;
    margin-bottom: 10px;
}

.input2_rightsideFormDiv {
    height: 50px;
    width: 370px;
    background: rgba(0, 0, 0, 0);
    border: 1px solid white;
    color: white;
    margin-bottom: 10px;
}

.input3_rightsideFormDiv {
    height: 100px;
    width: 370px;
    background: rgba(0, 0, 0, 0);
    border: 1px solid white;
    color: white;
    margin-bottom: 10px;
}

.rightSideFormDiv > a {
    height: 35px;
    width: 183px;
    display: block;
    background: rgba(0, 0, 0, 0);
    border: 1px dotted white;
    color: white;
    text-align: center;
    padding-top: 15px;
    transition: 1s;
    text-decoration: none;
}

.rightSideFormDiv > a:hover {
    color: red;
    border: 1px dotted rgb(255, 0, 0);
}

.rightSideFormDiv {
    width: 370px;
    height: 285px;
    margin-right: 100px;
    margin-top: 55px;
}

@media screen and (max-width: 1200px) {
    .gridblock__takingMeasurements {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);;
        height: 1300px;
        margin: 0 auto;
        width: 770px;
        margin-left: 300px;
    }

    .takingMeasurements {
        height: 1500px;
    }
}