.clr {
  clear: both;
}
.floatleft {
  float: left;
}
.floatright {
  float: right;
}
body,
html {
  margin: 0;
}
.container {
  width: 1600px;
  margin: 0 auto;
  box-shadow: 0 0 10px black;
  min-height: 100vh;
}
.noStyleText_forLink {
  text-align: center;
  text-decoration: none;
  color: white;
}
.hover_imageScale {
  transition: 3s;
}
.hover_imageScale:hover {
  transform: scale(1.07);
}
.hoverLink__fixedSideMenu {
  transition: 3s;
}
.header {
  height: 80px;
  width: 1600px;
  background-color: #284aa8;
}
.logo__header {
  height: 55px;
  width: 235px;
  background-color: white;
  margin-left: 215px;
  margin-top: 25px;
}
.logo__header > img {
  margin-top: 20px;
}
.nav_header__element {
  margin-left: 35px;
  margin-top: 35px;
}
.nav_header__leftSidePicture {
  margin-right: 10px;
}
.fixedSideMenu_block {
  height: 50px;
  width: 113px;
  background-color: #284aa8;
  margin-top: 1px;
  transition: all 1.5s ease;
  color: white;
  font-size: 13px;
}
.fixedSideMenu_block:hover {
  transform: translateX(-70px);
}
.left_contain__fixedSideMenu {
  margin-top: 15px;
  margin-left: 10px;
}
.right_contain__fixedSideMenu {
  margin-top: 10px;
  margin-left: 20px;
  text-align: center;
}
.right_contain__fixedSideMenu_last {
  margin-top: 15px;
  margin-left: 20px;
  text-align: center;
}
.fixedSideMenu {
  position: fixed;
  margin-left: 1710px;
  margin-top: 170px;
}
.main {
  height: 5800px;
  width: 1600px;
  background-color: black;
}
.furCoat_block {
  height: 1060px;
  width: 1600px;
  background-color: #f1f1f1;
}
.nav__main {
  margin-left: 215px;
  height: 55px;
  width: 1170px;
  background-color: white;
}
.furCoat_block__1 {
  width: 235px;
  text-align: center;
  height: 35px;
  padding-top: 20px;
  font-size: 11px;
  color: gray;
}
.furCoat_block__2 {
  width: 150px;
  text-align: center;
  height: 35px;
  padding-top: 20px;
  color: black;
  font-weight: bold;
}
.furCoat_block__3 {
  width: 120px;
  text-align: center;
  height: 35px;
  padding-top: 20px;
  color: black;
  font-weight: bold;
}
.furCoat_block__4 {
  width: 80px;
  text-align: center;
  height: 35px;
  padding-top: 20px;
  color: black;
  font-weight: bold;
}
.furCoat_block__5 {
  height: 35px;
  padding-top: 10px;
  width: 205px;
  margin-left: 10px;
  margin-right: 5px;
  font-size: 11px;
  text-align: center;
  color: black;
  background-color: gray;
  margin: 5px;
}
.furCoat_block__6 {
  width: 155px;
  text-align: center;
  height: 35px;
  padding-top: 10px;
  font-size: 11px;
  color: white;
  background-color: red;
  margin: 5px;
}
.furCoat_block__7 {
  height: 35px;
  padding-top: 20px;
  min-width: 130px;
  margin-left: 50px;
}
.gridblock__furCoat {
  height: 940px;
  width: 1170px;
  margin-left: 215px;
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 30px;
  grid-row-gap: 30px;
}
.gridblock_furCoat_1 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
  background-color: gray;
}
.gridblock_furCoat_2 {
  background-color: gray;
}
.gridblock_furCoat_3 {
  background-color: gray;
}
.gridblock_furCoat_4 {
  background-color: #1072c2;
}
.gridblock_furCoat_5 {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 4;
  background-color: gray;
}
.gridblock__pluses_edita {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  margin-left: 215px;
  width: 1170px;
  height: 295px;
}
.pluses_edita {
  background-color: white;
  height: 295px;
}
.header_plusesEdita_1,
.header_plusesEdita_2,
.header_plusesEdita_3,
.header_plusesEdita_4,
.header_plusesEdita_5 {
  text-align: center;
  font-weight: bold;
  font-size: 12px;
}
.header_plusesEdita_1 {
  margin-top: 5px;
  margin-bottom: 10px;
}
.header_plusesEdita_2 {
  margin-top: 30px;
  margin-bottom: 10px;
}
.header_plusesEdita_3 {
  margin-top: 15px;
  margin-bottom: 22px;
}
.header_plusesEdita_4 {
  margin-top: 25px;
  margin-bottom: 25px;
}
.header_plusesEdita_5 {
  margin-top: 15px;
  margin-bottom: 30px;
}
.pic_plusesEdita {
  text-align: center;
  margin-top: 55px;
  margin-bottom: 10px;
}
.textblock_plusesEdita {
  text-align: center;
  font-size: 15px;
}
.about_factory {
  height: 650px;
  background-color: white;
}
.background__about_factory {
  height: 340px;
  z-index: 2;
}
.header__aboutFactory {
  width: 222px;
  color: white;
  font-weight: bold;
  font-size: 30px;
  text-align: center;
  margin-left: 690px;
  margin-top: -270px;
  position: relative;
}
.mainblock__about_factory {
  margin-left: 215px;
  padding: 34px;
  margin-top: -195px;
  width: 1170px;
  height: 435px;
  background-color: white;
  z-index: 3;
  position: absolute;
}
.picblock_mainblock__about_factory {
  height: 355px;
  width: 535px;
}
.textblock_mainblock__about_factory {
  height: 355px;
  width: 535px;
  margin-right: 20px;
}
.textblock1_mainblock__about_factory {
  margin-bottom: 75px;
  margin-top: 45px;
  font-size: 18px;
  font-weight: bold;
}
.textblock2_mainblock__about_factory {
  font-size: 16px;
}
.wrapButton__about_factory {
  margin-top: 40px;
  height: 30px;
  width: 275px;
  outline: 1px solid black;
  padding-top: 20px;
  text-align: center;
  font-size: 12px;
  font-weight: bold;
}
.button__about_factory {
  text-decoration: none;
  color: black;
}
.featured_product {
  height: 910px;
  background-color: white;
}
