.clr {
  clear: both;
}
.floatleft {
  float: left;
}
.floatright {
  float: right;
}
body,
html {
  margin: 0;
}
.container {
  width: 1600px;
  margin: 0 auto;
  min-height: 100vh;
}
.noStyleText_forLink {
  text-align: center;
  text-decoration: none;
  color: white;
}
.hover_imageScale {
  transition: 0.9s;
}
.hover_imageScale:hover {
  transform: scale(1.07);
}
.hoverLink__fixedSideMenu {
  transition: 3s;
}
.closeWall_fixed_side_menu {
  position: absolute;
  height: 254px;
  width: 90px;
  background-color: #ffffff;
  margin-left: 42px;
  margin-top: 1px;
  z-index: 5;
}
.header {
  height: 80px;
  width: 1600px;
  background-color: #284aa8;
}
.logo__header {
  height: 55px;
  width: 235px;
  background-color: white;
  margin-left: 215px;
  margin-top: 25px;
}
.logo__header > img {
  margin-top: 20px;
}
.nav_header__element {
  margin-left: 35px;
  margin-top: 35px;
}
.nav_header__leftSidePicture {
  margin-right: 10px;
}
.nav_header__element:hover {
  color: red;
}
.nav_header__leftSidePicture {
  padding-top: 10px;
}
.nav_header__rightSideText {
  margin-top: 15px;
}
.fixedSideMenu_block {
  height: 50px;
  width: 113px;
  background-color: #284aa8;
  margin-top: 1px;
  transition: all 1.5s ease;
  color: white;
  font-size: 13px;
}
.fixedSideMenu_block:hover {
  transform: translateX(-70px);
}
.left_contain__fixedSideMenu {
  margin-top: 15px;
  margin-left: 10px;
}
.right_contain__fixedSideMenu {
  margin-top: 10px;
  margin-left: 20px;
  text-align: center;
}
.right_contain__fixedSideMenu_last {
  margin-top: 15px;
  margin-left: 20px;
  text-align: center;
}
.fixedSideMenu {
  position: fixed;
  margin-left: 1559px;
  margin-top: 170px;
}
.main {
  height: 5800px;
  width: 1600px;
  background-color: black;
}
.furCoat_block {
  height: 1060px;
  width: 1600px;
  background-color: #f1f1f1;
}
.nav__main {
  margin-left: 215px;
  height: 55px;
  width: 1170px;
  background-color: white;
}
.furCoat_block__1 {
  width: 235px;
  text-align: center;
  height: 35px;
  padding-top: 20px;
  font-size: 11px;
  color: gray;
}
.furCoat_block__2 {
  width: 150px;
  text-align: center;
  height: 35px;
  padding-top: 20px;
  color: black;
  font-weight: bold;
}
.furCoat_block__3 {
  width: 120px;
  text-align: center;
  height: 35px;
  padding-top: 20px;
  color: black;
  font-weight: bold;
}
.furCoat_block__4 {
  width: 80px;
  text-align: center;
  height: 35px;
  padding-top: 20px;
  color: black;
  font-weight: bold;
}
.furCoat_block__5 {
  height: 35px;
  padding-top: 10px;
  width: 205px;
  margin-left: 10px;
  margin-right: 5px;
  font-size: 11px;
  text-align: center;
  color: black;
  background-color: gray;
  margin: 5px;
}
.furCoat_block__6 {
  width: 155px;
  text-align: center;
  height: 35px;
  padding-top: 10px;
  font-size: 11px;
  color: white;
  background-color: red;
  margin: 5px;
}
.furCoat_block__7 {
  height: 35px;
  padding-top: 20px;
  min-width: 130px;
  margin-left: 50px;
}
.furCoat_block__1:hover,
.furCoat_block__2:hover,
.furCoat_block__3:hover,
.furCoat_block__4:hover,
.furCoat_block__7:hover {
  color: red;
}
.furCoat_block__5:hover,
.furCoat_block__6:hover {
  color: blue;
}
.gridblock__furCoat {
  height: 940px;
  width: 1170px;
  margin-left: 215px;
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 30px;
  grid-row-gap: 30px;
}
.gridblock_furCoat_1 {
  position: relative;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
  background-color: gray;
  height: 611px;
}
.gridblock_furCoat_2 {
  position: relative;
  background-color: gray;
  height: 290px;
}
.gridblock_furCoat_3 {
  position: relative;
  background-color: gray;
  height: 290px;
}
.gridblock_furCoat_4 {
  position: relative;
  background-color: #1072c2;
  height: 290px;
}
.gridblock_furCoat_5 {
  position: relative;
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 4;
  background-color: gray;
  height: 290px;
}
.adBlock_gridblock__furcoat_1 {
  position: absolute;
  height: 345px;
  width: 300px;
  background-color: white;
  top: 0;
  margin-left: 435px;
  margin-top: 231px;
}
.adBlock_gridblock__furcoat_2 {
  position: absolute;
  height: 163px;
  width: 170px;
  background-color: white;
  top: 0;
  margin-left: 35px;
  margin-top: 93px;
}
.adBlock_gridblock__furcoat_3 {
  position: absolute;
  height: 161px;
  width: 173px;
  background-color: white;
  top: 0;
  margin-left: 36px;
  margin-top: 34px;
}
.adBlock_gridblock__furcoat_4 {
  position: absolute;
  height: 100px;
  width: 170px;
  background-color: white;
  top: 0;
  margin-left: 34px;
  margin-top: 157px;
}
.adBlock_gridblock__furcoat_5 {
  position: absolute;
  height: 102px;
  width: 303px;
  background-color: white;
  top: 0;
  margin-left: 33px;
  margin-top: 35px;
}
.header__adBlock_gridblock_furcoat_1 {
  margin-left: 35px;
  margin-top: 50px;
  font-size: 30px;
  margin-bottom: 34px;
}
.header__adBlock_gridblock_furcoat_2 {
  margin-left: 27px;
  margin-top: 31px;
  font-size: 20px;
  margin-bottom: 23px;
}
.header__adBlock_gridblock_furcoat_3 {
  margin-left: 27px;
  margin-top: 31px;
  font-size: 20px;
  margin-bottom: 23px;
}
.header__adBlock_gridblock_furcoat_4 {
  font-size: 20px;
  margin-top: 28px;
  margin-left: 25px;
}
.header__adBlock_gridblock_furcoat_5 {
  font-size: 20px;
  margin-top: 30px;
  margin-left: 32px;
}
.text__adBlock_furcoat_1 {
  font-size: 20px;
  margin-left: 35px;
  margin-bottom: 40px;
}
.button__adBlock_furcoat_1 > a {
  height: 35px;
  width: 195px;
  display: block;
  outline: 1px solid black;
  padding-top: 15px;
  margin-left: 35px;
  text-align: center;
  text-decoration: none;
  color: black;
}
.button__adBlock_furcoat_1 > a:hover {
  outline: 1px solid red;
  color: red;
  box-shadow: 5px 5px 5px black;
}
.hyperlinkHeader__adBlock_gridblock_furcoat_2 {
  margin-left: 27px;
}
.hyperlinkHeader__adBlock_gridblock_furcoat_2 > a {
  text-decoration: none;
  color: black;
  border-bottom: 1px solid black;
}
.hyperlinkHeader__adBlock_gridblock_furcoat_2 > a:hover {
  color: red;
  border-bottom: 1px solid red;
}
.hyperlinkHeader__adBlock_gridblock_furcoat_3 {
  margin-left: 27px;
}
.hyperlinkHeader__adBlock_gridblock_furcoat_3 > a {
  text-decoration: none;
  color: black;
  border-bottom: 1px solid black;
}
.hyperlinkHeader__adBlock_gridblock_furcoat_3 > a:hover {
  color: red;
  border-bottom: 1px solid red;
}
.gridblock__pluses_edita {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  margin-left: 215px;
  width: 1170px;
  height: 295px;
}
.pluses_edita {
  background-color: white;
  height: 295px;
}
.header_plusesEdita_1,
.header_plusesEdita_2,
.header_plusesEdita_3,
.header_plusesEdita_4,
.header_plusesEdita_5 {
  text-align: center;
  font-weight: bold;
  font-size: 12px;
}
.gridblock__pluses_edita_1 > a,
.gridblock__pluses_edita_2 > a,
.gridblock__pluses_edita_3 > a,
.gridblock__pluses_edita_4 > a,
.gridblock__pluses_edita_5 > a {
  text-decoration: none;
  color: black;
}
.gridblock__pluses_edita_1 > a:hover,
.gridblock__pluses_edita_2 > a:hover,
.gridblock__pluses_edita_3 > a:hover,
.gridblock__pluses_edita_4 > a:hover,
.gridblock__pluses_edita_5 > a:hover {
  color: #ff0000;
}
.header_plusesEdita_1 {
  margin-top: 5px;
  margin-bottom: 10px;
}
.header_plusesEdita_2 {
  margin-top: 30px;
  margin-bottom: 10px;
}
.header_plusesEdita_3 {
  margin-top: 15px;
  margin-bottom: 22px;
}
.header_plusesEdita_4 {
  margin-top: 25px;
  margin-bottom: 25px;
}
.header_plusesEdita_5 {
  margin-top: 15px;
  margin-bottom: 30px;
}
.pic_plusesEdita {
  text-align: center;
  margin-top: 55px;
  margin-bottom: 10px;
}
.textblock_plusesEdita {
  text-align: center;
  font-size: 15px;
}
.about_factory {
  height: 610px;
  background-color: white;
}
.background__about_factory {
  height: 340px;
  z-index: 2;
}
.header__aboutFactory {
  width: 222px;
  color: white;
  font-weight: bold;
  font-size: 30px;
  text-align: center;
  margin-left: 690px;
  margin-top: -270px;
  position: relative;
}
.mainblock__about_factory {
  margin-left: 215px;
  padding: 34px;
  margin-top: -195px;
  width: 1170px;
  height: 435px;
  background-color: white;
  z-index: 3;
  position: absolute;
}
.picblock_mainblock__about_factory {
  height: 355px;
  width: 535px;
  position: relative;
}
.logo__picblock_mainblock__about_factory {
  position: absolute;
  margin-top: -230px;
  width: 100px;
  height: 100px;
  margin-left: 220px;
}
.logo_picblock_1 {
  margin-left: 38px;
}
.logo_picblock_3 {
  margin-left: 22px;
  margin-top: 8px;
}
.textblock_mainblock__about_factory {
  height: 355px;
  width: 535px;
  margin-right: 20px;
}
.textblock1_mainblock__about_factory {
  margin-bottom: 75px;
  margin-top: 45px;
  font-size: 18px;
  font-weight: bold;
}
.textblock2_mainblock__about_factory {
  font-size: 16px;
}
.wrapButton__about_factory {
  width: 275px;
}
.wrapButton__about_factory > a {
  display: block;
  margin-top: 40px;
  height: 30px;
  width: 275px;
  outline: 1px solid black;
  padding-top: 20px;
  text-align: center;
  font-size: 12px;
  font-weight: bold;
}
.button__about_factory {
  text-decoration: none;
  color: black;
}
.featured_product {
  height: 950px;
  background-color: white;
}
.client_service {
  height: 345px;
  background-color: white;
}
.leftblock__client_service {
  height: 345px;
  width: 800px;
}
.rightblock__client_service {
  background-color: gray;
  height: 345px;
  width: 800px;
}
.discounted_goods {
  height: 950px;
  background-color: white;
}
.novelties {
  height: 950px;
  background-color: #ffffff;
}
.wrap_leftblock_clientService_pic {
  position: absolute;
}
.textblock_leftblock_clientService {
  position: relative;
  text-align: center;
  padding-top: 70px;
  color: white;
}
.textblock_rightblock_clientService {
  position: absolute;
  text-align: center;
  margin-top: -290px;
  margin-left: 170px;
}
.header_textblock_leftblock_clientService {
  font-size: 14px;
}
.header_textblock_rightblock_clientService {
  margin-top: 30px;
  font-size: 24px;
}
.header2_textblock_leftblock_clientService {
  margin-top: 35px;
  margin-bottom: 35px;
  font-size: 24px;
}
.text_textblock_rightblock_clientService {
  margin-top: 25px;
}
.guarantee {
  margin-bottom: 6px;
}
.text_textblock_leftblock_clientService {
  margin-bottom: 40px;
  font-size: 16px;
}
.button_textblock_leftblock_clientService > a {
  display: block;
  width: 195px;
  height: 32px;
  padding-top: 18px;
  text-decoration: none;
  text-align: center;
  color: white;
  outline: 1px solid white;
  margin-left: 300px;
  font-size: 14px;
}
.useful_articles {
  height: 645px;
  background-color: #f0f0f0;
}
.header__useful_articles {
  text-align: center;
  padding-top: 80px;
  font-size: 30px;
}
.centerBlock__useful_articles {
  height: 345px;
  width: 1170px;
  padding-top: 50px;
  padding-left: 215px;
  padding-bottom: 65px;
  padding-right: 215px;
}
.left__useful_articles,
.right__useful_articles,
.background_img__usefularticlesLeft {
  height: 345px;
  width: 570px;
  text-align: center;
}
.background_img__usefularticlesRight,
.background_img__usefularticlesLeft {
  position: absolute;
}
.textblock__useful_articles_right,
.textblock__useful_articles_left,
.button__useful_articles,
.button__useful_articles_2 {
  position: relative;
}
.backgroundWhite__usefulArticles {
  background-color: rgba(255, 255, 255, 0.75);
  height: 272px;
  width: 497px;
  margin-top: 37px;
  margin-left: 37px;
  position: relative;
}
.button__useful_articles > a {
  color: white;
  display: block;
  text-decoration: none;
  margin-top: 32px;
  width: 170px;
  padding-top: 15px;
  height: 35px;
  margin-left: 200px;
  outline: 1px solid white;
}
.button__useful_articles_2 > a {
  color: black;
  display: block;
  text-decoration: none;
  margin-top: 32px;
  width: 170px;
  padding-top: 15px;
  height: 35px;
  margin-left: 163px;
  outline: 1px solid black;
}
.textblock__useful_articles_right {
  padding-top: 78px;
  font-size: 24px;
}
.textblock__useful_articles_left {
  padding-top: 115px;
  font-size: 24px;
}
.textblock__useful_articles_left {
  color: white;
}
.readMore__useful_articles {
  text-align: center;
}
.readMore__useful_articles > a {
  text-decoration: none;
  font-size: 14px;
  border-bottom: 1px solid gray;
  color: black;
}
.header__discounted_goods {
  padding-top: 88px;
  height: 22px;
  width: 350px;
  font-size: 30px;
  font-weight: bold;
  color: black;
  text-align: center;
  margin-left: 23px;
}
.header__novelties {
  padding-top: 88px;
  height: 22px;
  width: 156px;
  font-size: 30px;
  font-weight: bold;
  color: black;
  text-align: center;
  margin-left: 23px;
}
.header__featured_product {
  height: 22px;
  width: 408px;
  font-size: 30px;
  font-weight: bold;
  color: black;
  text-align: center;
  margin-left: 23px;
  padding-top: 40px;
}
.leftYellowWall {
  margin-top: 95px;
  margin-left: 592px;
}
.rightYellowWall {
  margin-left: 27px;
  margin-top: 95px;
}
.rightYellowWall__featured_product {
  margin-left: 27px;
  margin-top: 47px;
}
.leftYellowWall__featured_product {
  margin-left: 592px;
  margin-top: 47px;
}
.leftYellowWall_novelties {
  margin-left: 700px;
  margin-top: 95px;
}
.priceblock_first,
.priceblock_second,
.priceblock_third {
  position: absolute;
  background-color: white;
  height: 190px;
  width: 337px;
  margin-left: 15px;
  margin-top: 445px;
}
.priceblock_second {
  margin-left: 415px;
  margin-top: 445px;
}
.priceblock_third {
  margin-left: 815px;
  margin-top: 445px;
}
.header__priceblock {
  text-align: center;
  margin-top: 25px;
  color: gray;
  margin-bottom: 15px;
  font-size: 12px;
}
.text__priceblock {
  text-align: center;
  color: black;
  font-size: 16px;
}
.article__priceblock {
  text-align: center;
  color: gray;
  font-size: 12px;
}
.lineupPrices__priceblock {
  position: absolute;
  bottom: 0;
}
.oldPrice_priceblock {
  color: gray;
  font-size: 18px;
  text-decoration: line-through;
  margin-left: 65px;
  margin-bottom: -27px;
}
.price_priceblock {
  font-size: 24px;
  color: #b98d0f;
  text-decoration: none;
  margin-left: 125px;
  margin-bottom: 25px;
}
.moreAbout_priceblock_first,
.moreAbout_priceblock_second,
.moreAbout_priceblock_third {
  position: absolute;
  bottom: 0;
  width: 337px;
  height: 33px;
  padding-top: 17px;
  text-align: center;
  z-index: 3;
  background-color: rgba(24, 24, 214, 0.836);
  margin-bottom: -50px;
  color: #ffffff;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 4px;
}
.wrapButton__about_factory {
  transition: 0.8s;
}
.wrapButton__about_factory:hover {
  transform: scale(1.1);
  background-color: #202020;
}
.wrapButton__about_factory:hover > a {
  color: red;
}
.button_textblock_leftblock_clientService > a {
  transition: 1.3s;
  width: 195px;
}
.button_textblock_leftblock_clientService:hover > a {
  color: red;
  background-color: white;
  outline: 2px solid #2bff00;
  font-weight: bold;
  transform: scale(1.2);
}
.button__useful_articles_2 > a,
.button__useful_articles > a {
  transition: 0.7s;
}
.button__useful_articles_2 > a:hover,
.button__useful_articles > a:hover {
  transform: scale(1.1);
}
.readMore__useful_articles > a:hover {
  color: red;
  border-bottom: black 1px solid;
}
.footer {
  height: 680px;
  background-color: #e4e2e2;
}
.footer_allInfoBlock {
  height: 492px;
  width: 1600px;
  background-color: #e4e2e2;
}
.map__footer {
  height: 148px;
  background-color: #e4e2e2;
}
.copyright__footer {
  height: 30px;
  padding-top: 15px;
  background-color: white;
}
.link_copyright {
  text-decoration: none;
  text-align: center;
  color: gray;
  font-size: 14px;
  border-bottom: 1px solid gray;
}
.link_copyright:hover {
  color: red;
  border-bottom: 1px solid black;
}
.copyright_1 {
  text-align: center;
  color: gray;
  font-size: 14px;
  margin-left: 215px;
}
.copyright_2 {
  margin-left: 165px;
}
.copyright_3 {
  margin-left: 230px;
  text-align: center;
  color: gray;
  font-size: 14px;
}
.infoBlock__footer {
  width: 185px;
  height: 492px;
}
.centerFooter_allInfoBlock {
  height: 492px;
  width: 1170px;
  margin-left: 215px;
  margin-right: 215px;
  background-color: #e4e2e2;
}
.navBlock__footer {
  height: 12px;
  width: 858px;
}
.gridBlock__footer {
  display: grid;
  width: 740px;
  height: 355px;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(4, 1fr);
  margin-left: 125px;
}
.logo__footer {
  margin-left: 5px;
  margin-top: 25px;
}
.logo__footer_2nd {
  margin-top: 10px;
  margin-left: 10px;
}
.info__footer {
  height: 155px;
  width: 185px;
  margin-top: 45px;
}
.numbers__infoFooter {
  height: 70px;
  width: 185px;
}
.numbersValue__infoFooter {
  margin-left: 4px;
}
.adress__infoFooter {
  height: 50px;
  width: 185px;
  margin-top: 35px;
}
.adressvalue__infoFooter {
  margin-left: 4px;
}
.navBlock__footer {
  padding-top: 55px;
  padding-left: 125px;
  width: 860px;
  height: 80px;
}
.nav_footerElem,
.nav_footerElem_last {
  margin-left: 33px;
}
.nav_footerElem_1st > a,
.nav_footerElem > a,
.nav_footerElem_last > a {
  text-decoration: none;
}
.nav_footerElem_1st > a,
.nav_footerElem > a {
  color: black;
}
.nav_footerElem_last > a {
  color: red;
}
.ul__gridblock_footer > li {
  list-style-type: none;
  color: gray;
  font-size: 15px;
}
.ul__gridblock_footer li:not(:first-child) {
  margin-top: 10px;
}
.ul__gridblock_footer {
  padding-left: 5px;
}
.header__gridblock_footer {
  color: black;
  font-size: 15px;
  font-weight: light;
}
.spaceleft__footerCopyright {
  padding-left: 4px;
}
.nav_footerElem_1st > a:hover,
.nav_footerElem > a:hover,
.nav_footerElem_last > a:hover {
  color: #fa0000;
}
.content {
  margin: auto;
  padding: 30px;
  width: 100%;
  max-width: 600px;
  box-sizing: border-box;
}
h3 {
  background: #fff;
  color: #3498db;
  font-size: 36px;
  line-height: 100px;
  margin: 10px;
  padding: 2%;
  position: relative;
  text-align: center;
}
.slider1 {
  padding-top: 180px;
  width: 1170px;
  margin-left: 215px;
}
.slider2 {
  padding-top: 180px;
  width: 1170px;
  margin-left: 215px;
}
.slider3 {
  padding-top: 180px;
  width: 1170px;
  margin-left: 215px;
}
.sliderElement_first {
  margin-right: 30px;
  height: 685px;
  width: 370px;
}
.sliderElement_second {
  margin-right: 30px;
}
.background_heightfix_sliderElem_first {
  height: 40px;
  background-color: white;
  width: 382px;
  margin-left: -16px;
  margin-top: 79px;
}
.priceblock_first .moreAbout_priceblock_first {
  display: none;
}
.priceblock_first:hover .moreAbout_priceblock_first {
  display: block;
}
.moreAbout_priceblock_first {
  transition: 0.7s;
}
.moreAbout_priceblock_first:hover {
  background-color: rgba(7, 7, 121, 0.918);
  color: #e5ff00;
}
.priceblock_second .moreAbout_priceblock_second {
  display: none;
}
.priceblock_second:hover .moreAbout_priceblock_second {
  display: block;
}
.moreAbout_priceblock_second:hover {
  transition: 0.7s;
}
.moreAbout_priceblock_second:hover {
  background-color: rgba(7, 7, 121, 0.918);
  color: #e5ff00;
}
.priceblock_third .moreAbout_priceblock_third {
  display: none;
}
.priceblock_third:hover .moreAbout_priceblock_third {
  display: block;
}
.moreAbout_priceblock_third:hover {
  transition: 0.7s;
}
.moreAbout_priceblock_third:hover {
  background-color: rgba(7, 7, 121, 0.918);
  color: #e5ff00;
}
.sliderElement_first {
  transition: 0.5s;
  overflow: hidden;
}
.sliderElement_first:hover {
  transform: scale(1.05);
}
.sliderElement_second {
  transition: 0.5s;
  overflow: hidden;
}
.sliderElement_second:hover {
  transform: scale(1.02);
}
.sliderElement_third {
  transition: 0.5s;
  overflow: hidden;
}
.sliderElement_third:hover {
  transform: scale(1.02);
}
@media screen and (max-width: 1920px) {
  .container {
    max-width: 1440px;
  }
  body,
  html {
    margin: 0 auto;
    min-width: 1440px;
  }
  .header {
    width: 1440px;
  }
  .logo__header {
    margin-left: 135px;
  }
  .main {
    width: 1440px;
  }
  .fixedSideMenu {
    margin-left: 1399px;
    margin-top: 85px;
  }
  .nav__main {
    margin-left: 135px;
  }
  .featured_product {
    margin-top: -1px;
  }
  .client_service {
    overflow: hidden;
  }
  .leftblock__client_service {
    width: 720px;
  }
  .wrap_leftblock_clientService_pic {
    width: 720px;
    height: 345px;
  }
  .rightblock__client_service {
    width: 720px;
  }
  .centerBlock__useful_articles {
    padding-left: 155px;
  }
  .leftYellowWall_novelties {
    margin-left: 635px;
  }
  .leftYellowWall {
    margin-left: 542px;
  }
  .leftYellowWall__featured_product {
    margin-left: 512px;
  }
  .gridblock__furCoat {
    margin-left: 135px;
  }
  .gridblock__pluses_edita {
    margin-left: 125px;
  }
  .background__about_factory > img {
    width: 1440px;
  }
  .mainblock__about_factory {
    padding-bottom: 0;
    padding-left: 34px;
    padding-top: 34px;
    padding-right: 34px;
    margin-left: 125px;
  }
  .slider1 {
    margin-left: 155px;
  }
  .slider2 {
    margin-left: 155px;
  }
  .slider3 {
    margin-left: 155px;
  }
  .furCoat_block {
    width: 1440px;
  }
  .footer {
    width: 1440px;
  }
  .centerFooter_allInfoBlock {
    margin-left: 155px;
  }
  .footer_allInfoBlock {
    width: 1440px;
  }
  .map__footer {
    width: 1440px;
  }
  .copyright_1 {
    margin-left: 155px;
  }
}
